body
{
	margin: 0;
	padding: 0;
	background-color: blue;
}
h1
{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 90px;

}
*
{
	box-sizing: border-box;

	padding: 10px;
}


#p1
{

	background-color: blue;
	border: 2px solid black;
	position: relative;
	left: 416.4px;
	bottom: 27px;
	width: 70px;

}
#p2
{

	background-color: green;
	border: 2px solid black;
	position: relative;
	left: 417px;
	bottom: 27.1px;
	width: 70px;

}
#p3
{

	background-color: blue;
	border: 2px solid white;
	color: white;
	position: relative;
	left: 416.4px;
	bottom: 27px;
	width: 70px;

}
#mod1
{
	background-color: brown;
	color: white;
	margin: 1px 5px 1px 1px;
	border: 2px solid black;
}
#mod2
{
	background-color: gray;
	margin: 1px 5px 1px 1px;
	border: 2px solid black;
}
#mod3
{
	background-color: black;
	color: white;
	margin: 1px 1px 1px 1px;
	border: 2px solid white;
}

/*#p2
{

	border: 3px solid black;
	background-color: gray;
	width: 95%;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	text-align: justify;
	position: relative;

}
#p3
{

	border: 3px solid white;
	background-color: black;
	color: white;
	width: 95%;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	text-align: justify;
	position: relative;

}*/
.row
{
	
	width: 100%;
}
@media (min-width: 992px)
{
 .col-d-1,.col-d-2,.col-d-3,.col-d-4,.col-d-5,.col-d-6,
.col-d-7,.col-d-8,.col-d-9,.col-d-10,.col-d-11,.col-d-12
 {
 	float: left;
 	
 }
 .col-d-1{
 	width: 8.33%;

 }
 .col-d-2{
 	width: 16.66%;
 }
 .col-d-3{
 	width: 25%;
 }
 .col-d-4{
 	width: 33%;
 }
 .col-d-5{
 	width: 41.66%;
 }
 .col-d-6{
 	width: 50%;
 }
 .col-d-7{
 	width: 58.33%;
 }
 .col-d-8{
 	width: 66.66%;
 }
 .col-d-9{
 	width: 74.99%;
 }
 .col-d-10{
 	width: 83.33%;
 }
 .col-d-11{
 	width: 91.66%;
 }
 .col-d-12{
 	width: 100%;
 }
}
@media (min-width: 768px) and (max-width: 991px)
{
 .col-t-1,.col-t-2,.col-t-3,.col-t-4,.col-t-5,.col-t-6,
.col-t-7,.col-t-8,.col-t-9,.col-t-10,.col-t-11,.col-t-12
 {
 	float: left;
 	
 	
 }
.col-t-1{
 	width: 8.33%;

 }
 .col-t-2{
 	width: 16.66%;
 }
 .col-t-3{
 	width: 25%;
 }
 .col-t-4{
 	width: 33%;
 }
 .col-t-5{
 	width: 41.66%;
 }
 .col-t-6{
 	width: 50%;
 }
 .col-t-7{
 	width: 58.33%;
 }
 .col-t-8{
 	width: 66.66%;
 }
 .col-t-9{
 	width: 74.99%;
 }
 .col-t-10{
 	width: 83.33%;
 }
 .col-t-11{
 	width: 91.66%;
 }
 .col-t-12{
 	width: 100%;
 }
}
@media (min-width: 767)
{
	.col-m-1,.col-m-2,.col-m-3,.col-m-4,.col-m-5,.col-m-6,
.col-m-7,.col-m-8,.col-m-9,.col-m-10,.col-m-11,.col-m-12
 {
 	float: left;
 	
 	
 }
.col-m-1{
 	width: 8.33%;

 }
 .col-m-2{
 	width: 16.66%;
 }
 .col-m-3{
 	width: 25%;
 }
 .col-m-4{
 	width: 33%;
 }
 .col-m-5{
 	width: 41.66%;
 }
 .col-m-6{
 	width: 50%;
 }
 .col-m-7{
 	width: 58.33%;
 }
 .col-m-8{
 	width: 66.66%;
 }
 .col-m-9{
 	width: 74.99%;
 }
 .col-m-10{
 	width: 83.33%;
 }
 .col-m-11{
 	width: 91.66%;
 }
 .col-m-12{
 	width: 100%;
 }
}